* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.logo{
    display: inline-block;
    height: 50%;
    background-size: 30%, auto;
    background-color: cyan;
}


.mainHead {
    display: inline-block;
    background-color: brown;
}

article h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
}

li {
    background-color: blueviolet;
    display: inline-block;
}


/* Image replacement
https://css-tricks.com/the-image-replacement-museum/ */